/* Coolors Exported Palette - coolors.co/d3f8e2-e4c1f9-f694c1-ede7b1-a9def9 */

// PASTEL COLORS
/* HSL */
$color1: hsla(144%, 73%, 90%, 1);
$color2: hsla(278%, 82%, 87%, 1);
$color3: hsla(332%, 84%, 77%, 1);
$color4: hsla(54%, 63%, 81%, 1);
$color5: hsla(200%, 87%, 82%, 1);

/* RGB */
$color1: rgba(211, 248, 226, 1);
$color2: rgba(228, 193, 249, 1);
$color3: rgba(246, 148, 193, 1);
$color4: rgba(237, 231, 177, 1);
$color5: rgba(169, 222, 249, 1);
